<div class="item-product2 col-xs-12 col-sm-4 col-md-4  col-lg-4">
    <div class="item-product">
        <div class="thumbnail">
            <a [routerLink]="['item',curntItem.id]" class="hide-hover-images"><img class="group list-group-image" src="../../../assets/images/product-hover-eye-full.png"
                    alt="" /></a>
            <img class="group list-group-image" src="{{curntItem.full_img_path}}" alt="" />
        </div>
        <div class="product-text">
            <p>{{curntItem.multilanguage.short_description}}</p>
        </div>
        <div class="product-title">
            <h1 class="product-title"><a [routerLink]="['item',curntItem.id]">{{curntItem.multilanguage.title}}</a></h1>
        </div>
    </div>
</div>