<div class="item-product2 col-xs-12 col-sm-4 col-md-4  col-lg-4">
    <div class="item-product">
        <div class="thumbnail">
            <a href="#" class="hide-hover-images"><img class="group list-group-image" src="{{curntItem.hover_src}}"
                    alt="" /></a>
            <a href="#"><img class="group list-group-image" src="{{curntItem.img_src}}" alt="" /></a>
        </div>
        <div class="product-text">
            <p>{{curntItem.product_text}}</p>
        </div>
        <div class="product-title">
            <h1 class="product-title"><a href="#">{{curntItem.product_title}}</a></h1>
        </div>
    </div>
</div>