<div class="wrapper">
    <div class="our-product">
        <div class="container">
            <div class="row">
                <div class="our-name">
                    <img src="assets/images/3.png" />
                    <h2>{{service.homeProduct.title}}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="facade-name col-lg-12">
                    <h4>{{service.borderedTitles[0]}}</h4>
                    <hr class="hr_border">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="our-text">
                    <p>{{service.homeProduct.description}}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="product clearfix">
                    <app-item *ngFor="let item of service.products" [curntItem]="item"></app-item>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="facade-name col-lg-12">
                    <h4>{{service.borderedTitles[1]}}</h4>
                    <hr class="hr_border">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="our-text">
                    <p>{{service.homeProduct.description}}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="product clearfix">
                    <app-item *ngFor="let item of service.randomProducts" [curntItem]="item"></app-item>
                </div>
            </div>
        </div>
    </div>
</div>
