<div class="wrapper">
  <div class="header">
      <div class="header-slider">
          <div class="header-slider-text">
              <h1><span class="slider_mav">MAV</span><span class="slider_ent">ENT</span></h1>
              <h4>Вентрилируемые фасады</h4>
              <p>Система «MAVent» известна на российском рынке,
                  которая специализируется на проектировании, производстве,
                  поставке и монтаже вентилируемых фасадов.</p>
          </div>
          <div class="container-fluid slider-container">
              <div id="myCarousel" class="carousel slide slider-margin" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li *ngFor="let li of service.sliders; let i = index" [class.active]="i == 0" data-target="#myCarousel"
                          data-slide-to="0" class="active"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                      <div *ngFor="let item of service.sliders; let i = index" [class.active]="i == 0"
                          class="item active slider_images">
                          <img src="{{item.img_full_path}}" alt="Chania">
                      </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
