<div class="wrapper">
    <div class="header">
        <header class="header-fixed">
            <nav>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h2 class="logo clearfix">
                            <a class="navbar-brand" routerLink=""><span class="logo_mav">MAV</span><span class="logo_ent">ENT</span></a>
                        </h2>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                       <div class="header-menu-parent clearfix">
                            <ul class="header-menu navbar-nav clearfix">
                                <li class="our-product-menu"><a routerLink="products">{{serve.navbarText.product}}</a></li>
                                <li class="our-object-menu"><a routerLink="objects">{{serve.navbarText.object}}</a></li>
                                <li class="our-contact-menu"><a routerLink="feedback">{{serve.navbarText.feedback}}</a></li>
                                <li class="our-contact-information-menu"><a href="#/контакты">{{serve.navbarText.contact}}</a></li>
                                <li class="our-news-menu"><a href="#/Новости">{{serve.navbarText.news}}</a></li>
                            </ul>
                       </div>
                       <div class="header-menu-right-blog clearfix">
                           <ul class="nav navbar-nav navbar-left">
                               <div class="language-div clearfix">
                                   <li><a (click)="serve.setLang('en')"><img src="assets/images/language_en.png"/></a></li>
                                   <li><a href="#"><img src="assets/images/language_arm.png"/></a></li>
                                </div>
                                <li class="language"><a (click)="serve.setLang('ru')"><img src="assets/images/language_ru.png"/></a></li>
                            </ul>
                            <ul class="navbar-nav navbar-right">
                                <li><a href="#"><img src="assets/images/vk.png"/></a></li>
                                <li><a href="#"><img src="assets/images/fb.png"/></a></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    
    <router-outlet></router-outlet>

    <div class="container-fluid">
        <div class="row">
            <div class="footer clearfix">
                <div class="footer-text clearfix">
                    <h2 class="footer_logo">
                        <span class="logo_mav">MAV</span><span class="logo_ent">ENT</span>
                    </h2>
                    <p>Торговая марка «MAVENT»
                        © 2013-2017 Все права защищены законом.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
