<div class="wrapper">
  <div class="single clearfix">

    <div class="container-fluid">
      <div class="row">
        <div class="single-product clearfix">

          <div class="single-product-images col-xs-12 col-sm-5 col-md-5  col-lg-5">
            <div class="single-slider slider-container-single">
              <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li *ngFor="let li of currentObject.images_full_paths; let i = index" [class.active]="i == 0" data-target="#myCarousel"
                    data-slide-to="0"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div *ngFor="let slide of currentObject.images_full_paths; let i = index" [class.active]=" i == 0" class="item slider_images">
                    <img class="group list-group-image" [src]="slide" alt="" />
                    <span class="product_new_single">{{currentObject.status_current_lng.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="single-product-content col-xs-12 col-sm-7 col-md-7  col-lg-7">
            <div class="single-content">
              <div class="single-header-content clearfix">
                <div class="single-header col-xs-12 col-sm-9 col-md-9  col-lg-9">
                  <span>{{currentObject.available_current_lng.description}}</span>
                  <h1>{{currentObject.title}}</h1>
                  <p>{{currentObject.short_description}}</p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3  col-lg-3">
                  <ul class="social-network social-circle">
                    <li><a target="_blank" href="https://www.facebook.com/mavent" class="icoFacebook"
                        title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/mavent" class="icoTwitter" title="Twitter"><i
                          class="fa fa-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.linkedin.com/mavent" class="icoLinkedin"
                        title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://plus.google.com/discover" class="icoGoogle" title="Google +"><i
                          class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" href="#" class="icoRss" title="Rss"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>

              <div class="single-description">
                <h3>Описание товара:</h3>
                {{currentObject.long_description}}
              </div>
              <div class="single-bottom-text">
                <h3>Вариант крепления кронштейнов:</h3>

                <p> • стандартный – с креплением в стены;</p>
                <p> • межэтажный – с креплением в перекрытия.</p>

                <button><img src="assets/images/Forma-bot.png" />{{currentObject.pdf}}</button>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="facade-name col-lg-12">
          <h4>{{myService.itemDetails ? myService.itemDetails.other : ''}}</h4>
          <hr class="hr_border">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="product clearfix">
          <app-item *ngFor="let item of myService.randomProducts" [curntItem]="item"></app-item>
        </div>
      </div>
    </div>
  </div>
</div>