<div class="wrapper">
  <div class="single clearfix">

    <div class="container-fluid">
      <div class="row">
        <div class="single-product clearfix">

          <div class="single-product-images col-xs-12 col-sm-5 col-md-5  col-lg-5">
            <div class="single-slider slider-container-single">
              <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel3" data-slide-to="1"></li>
                  <li data-target="#myCarousel3" data-slide-to="2"></li>
                  <li data-target="#myCarousel3" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active slider_images">
                    <img class="group list-group-image" src="assets/images/product-image.jpg" alt="" />
                    <span class="product_new_single">NEW</span>
                    <!--<img src="images/dark.jpg" alt="Chania" width="460" height="345">-->
                  </div>
                  <div class="item slider_images">
                    <img class="group list-group-image" src="assets/images/product-image.jpg" alt="" />
                    <span class="product_new_single">NEW</span>

                    <!--<img src="images/dark2.jpg" alt="Chania" width="460" height="345">-->
                  </div>

                  <div class="item slider_images">
                    <img class="group list-group-image" src="assets/images/product-image.jpg" alt="" />
                    <span class="product_new_single">NEW</span>
                  </div>

                  <div class="item slider_images">
                    <img class="group list-group-image" src="assets/images/product-image.jpg" alt="" />
                    <span class="product_new_single">NEW</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="single-product-content col-xs-12 col-sm-7 col-md-7  col-lg-7">
            <div class="single-content">
              <div class="single-header-content clearfix">
                <div class="single-header col-xs-12 col-sm-9 col-md-9  col-lg-9">
                  <span>Есть в наличии</span>
                  <h1>MTC-V-350 </h1>
                  <p>Крепление декоративной пазогребневой плитки под кирпич на планках</p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3  col-lg-3">
                  <ul class="social-network social-circle">
                    <li><a target="_blank" href="https://www.facebook.com/mavent" class="icoFacebook" title="Facebook"><i
                          class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/mavent" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.linkedin.com/mavent" class="icoLinkedin" title="Linkedin"><i
                          class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://plus.google.com/discover" class="icoGoogle" title="Google +"><i
                          class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" href="#" class="icoRss" title="Rss"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>

              <div class="single-description">
                <h3>Описание товара:</h3>

                <p class="single-text clearfix"> <strong>•</strong> <span>Благодаря отсутствию «мокрых» работ
                    существенно
                    упрощается и ускоряется процесс монтажа, возможен круглогодичный монтаж.</span></p>

                <p class="single-text clearfix"> <strong>•</strong> <span>Возможен быстрый монтаж и демонтаж
                    плит.</span>
                </p>

                <p class="single-text clearfix"> <strong>•</strong> <span> Отличие внешнего вида от кирпичной кладки
                    можно
                    заметить только при взгляде вблизи.</span></p>

                <p class="single-text clearfix"> <strong>•</strong> <span> Материал облицовки: керамические или бетонные
                    декоративные пазогребневые плитки под кирпич.</span></p>

                <p class="single-text clearfix"> <strong>•</strong> <span> Способ крепления облицовочного материала:
                    планки скрытого крепления.</span></p>

                <p class="single-text clearfix"> <strong>•</strong> <span>Максимальные размеры облицовки: 400х200мм
                    (горизонтальное и вертикальное расположение).</span></p>

                <p class="single-text clearfix"> <strong>•</strong> <span>Вынос облицовочного материала от плоскости
                    стены: 80—540 мм.</span></p>

                <p class="single-text clearfix"> <strong>•</strong> <span>Решения оконных обрамлений: оцинкованная сталь
                    или материал облицовки основной плоскости.</span></p>

              </div>
              <div class="single-bottom-text">
                <h3>Вариант крепления кронштейнов:</h3>

                <p> • стандартный – с креплением в стены;</p>
                <p> • межэтажный – с креплением в перекрытия.</p>

                <button><img src="assets/images/Forma-bot.png" />Скачать .pdf файл с описанием</button>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="facade-name col-lg-12">
          <h4>другие системы</h4>
          <hr class="hr_border">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="product clearfix">
          <app-item *ngFor="let item of myService.randomProducts" [curntItem]="item"></app-item>
        </div>
      </div>
    </div>
  </div>
</div>