<div class="container">
    <div class="row">
        <div class="object clearfix">
            <div class="our-object">
                <div class="our-object-text">
                    <img src="../../../assets/images/our-object-icon.png"/>
                    <h2>{{service.objectsText.title}}</h2>
                    <p>{{service.objectsText.description}}</p>
                </div>
                <div class="our-information clearfix">

                    <div class="our-information-blog col-xs-12 col-sm-4 col-md-4  col-lg-4">
                        <div class="our-information-content">
                            <h3>{{service.objectsText.subtitle_1}}</h3>
                            <hr>
                            <p>{{service.objectsText.sub_content_1}}</p>
                        </div>
                    </div>

                    <div class="our-information-blog col-xs-12 col-sm-4 col-md-4  col-lg-4">
                        <div class="our-information-content">
                            <h3>{{service.objectsText.subtitle_2}}</h3>
                            <hr>
                            <p>{{service.objectsText.sub_content_2}}</p>
                        </div>
                    </div>

                    <div class="our-information-blog col-xs-12 col-sm-4 col-md-4  col-lg-4">
                        <div class="our-information-content">
                            <h3>{{service.objectsText.subtitle_3}}</h3>
                            <hr>
                            <p>{{service.objectsText.sub_content_3}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
